@import './reset.scss';

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix{zoom:1;/*为IE6，7的兼容性设置*/}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}

img {
    width: auto\9;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}

.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}